body {
    font-family: Arial, sans-serif;
    background-color: #363636;
    margin: 0;
    padding: 0 1em;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    /* height: 100vh; */
    
}

#nav {
    background-color: #1e1e1e;
    color: #fff;
    padding: 1em 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

#navbar {
    background-color: #1e1e1e;
    overflow: hidden;
    
}

#navbar a {
    float: left;
    display: block;
    color: #fff;
    background-color: #363636;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: medium;
    border-radius: 8px;
    margin: 2px;
}

#navbar a:hover {
    background-color: #ddd;
    color: #333;
}

.allContainer{
    height: 87vh;    /* max-height: 680px;  */
    overflow-y: auto;
    
}

/* .half {
    width: 50%;
    height: 80.9vh; */
    /* border: 1px solid #ccc; Optional: Add a border for visibility */
    /* margin: 0.5em;
} */

.container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* width: 200px; */
    text-align: center;
    box-shadow: 10px rgba(0, 0, 0, 0.1);
    display: flex;
    margin-top: 0.5em;
    align-items: center;
    justify-content: center;
}



.group {
    
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* margin-bottom: 1em; */
    align-items: center;
    text-align: center;
    margin: 0 0.25em;
    /* width: 50%; */
}

.groubBar {
    width: 48%;
}

.groupPie {
    width: 30%;
}

.groupLine {
    width: 81%;
}



.toFrom label, input {
    margin-left: 1em;
}




.bar {
    width: 100%;
    height: 100%;
    max-height: 500px;
    max-width: 800px; 
    margin: 0 auto;

    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 250px 50px;
    grid-template-areas:
      "data-axis-1 chart data-axis-2"
      ". primary-axis .";
}
.bar .column {
grid-area: chart;
}
.bar .primary-axis {
grid-area: primary-axis;
}
.bar .data-axis-1 {
grid-area: data-axis-1;
writing-mode: tb-rl;
transform: rotateZ(180deg);
}
.bar .data-axis-2 {
grid-area: data-axis-2;
writing-mode: tb-rl;
transform: rotateZ(360deg);
}
  
caption {
    font-size: 20px;
}

.column td {
    animation: jumping-bars 5s linear infinite;
}
.column tr:nth-of-type(even) td {
    animation-delay: 300ms;
}
@keyframes jumping-bars {
    0% { transform: translateY(   0px ); }
    2% { transform: translateY( -10px ); }
    4% { transform: translateY(   0px ); }
}
.column tr {
    transition-duration: 0.3s;
}
.column tr:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.column tr:hover th {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}
  




  
  

/* #pie {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}
#pie .pie {
    
}
#pie .legend {
    
}


#line {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}
#line .line {

}
#line .legend {

} */

.pie {
    display: grid;
    align-items: center;
    justify-items: center;
    /* grid-template-columns: 10px 1fr 200px; */
    /* grid-template-rows: 250px 50px; */
    grid-template-areas:
      "data-axis-1 chart data-axis-2"
      ". primary-axis .";
  }
  .pie .column {
    grid-area: chart;
  }
  .pie .primary-axis {
    grid-area: primary-axis;
  }
  .pie .data-axis-1 {
    grid-area: data-axis-1;
    writing-mode: tb-rl;
    transform: rotateZ(180deg);
  }


.line {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 10px 1fr 200px;
    /* grid-template-rows: 250px 50px; */
    grid-template-areas:
      "data-axis-1 chart data-axis-2"
      ". primary-axis .";
  }
  .line .column {
    grid-area: chart;
  }
  .line .primary-axis {
    grid-area: primary-axis;
  }
  .line .data-axis-1 {
    grid-area: data-axis-1;
    writing-mode: tb-rl;
    transform: rotateZ(180deg);
  }
  /* #line .data-axis-2 {
    grid-area: data-axis-2;
    writing-mode: tb-rl;
    transform: rotateZ(360deg);
  } */
  
  
  







/* #usernameGet, #usernameGetAdd{
    margin-bottom: 10px;
}  */






.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Set z-index lower than the popup to ensure it's below the popup */
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #363636;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    z-index: 1000;
}

.popup-content {
    text-align: center;
    background-color: #363636;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

#closePopupBtn {
    background-color: crimson;
    width: 30px;
}